body {
  padding: 25;
}
.control-panel {
  position: absolute;
  background-color: white;
  padding: 20;
}

.canvas-wrapper {
  position: relative;
  left: 385px;
  bottom: 190px;
  width: 600px;
}

input {
  display: block;
  margin-bottom: 15px;
}

